{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans 'License Details' %} - OK Tools{% endblock %}
{% block page_title %}{% trans 'License Details' %}{% endblock %}

{% block content %}

<h1>{% trans 'Details for' %} {{ object }}</h1>

<form method="post">
{% csrf_token %}
<table class="table">
    <tbody>
        {% for field in form %}
        <tr>
        {% trans 'Category' as category %}
        {% trans 'Youth protection category' as youthprotection %}
        <td>{{ field.label }}:</td>
        <td>{% if field.value == None %}
                ----
            {% elif field.label == category %}
                {{ object.category }}
            {% elif field.label == youthprotection %}
                {{ ypc_title }}
            {% elif field.value == True %}
                <img src="{% static 'admin/img/icon-yes.svg' %}"
                        alt="{% trans 'Yes' %}">
            {% elif field.value == False %}
                <img src="{% static 'admin/img/icon-no.svg' %}"
                        alt="{% trans 'No' %}">
            {% else %}
                {{ field.value }}
            {% endif %}
        </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div>
{% if not object.confirmed %}
<a class="btn btn-primary" id="id_edit_LR" href="{% url 'licenses:update' object.id %}">
    {% trans 'Edit' %}
</a>
{% endif %}
<a class="btn btn-primary" id="id_print_LR" href="{% url 'licenses:print' object.id %}" target="_blank">
    {% trans 'Print' %}
</a>
</div>
{% endblock content %}
