{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block content %}
<h1> {% translate 'Your licenses' %}</h1>

<table class=table>
    <thead>
        <tr>
            <th scope="col">{% translate 'License' %}</th>
            <th scope="col">{% translate 'Confirmed' %}</th>
            <th scope="col">{% translate 'Actions' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for license in object_list %}
            <tr>
                <td>
                    <a href="{% url 'licenses:details' license.id %}" class="link-dark"> {{license}} </a>
                </td>
                <td>
                {% if license.confirmed %}
                    <img src="{% static 'admin/img/icon-yes.svg' %}"
                         alt="{% translate 'Yes'%}">
                {% else %}
                    <img src="{% static 'admin/img/icon-no.svg' %}"
                         alt="{% translate 'No'%}">
                {% endif %}
                </td>
                <td>
                    <div>
                    <a class="btn btn-outline-dark"
                       id="id_edit_{{license.id}}"
                       href="{% url 'licenses:update' license.id %}"
                       title="{%translate 'Edit license'%}">
                       <img src="{% static 'img/pencil.svg' %}" alt="{% translate 'edit' %}">
                    </a>
                    <a class="btn btn-outline-dark"
                       id="id_print_{{license.id}}"
                       href="{% url 'licenses:print' license.id %}"
                       target="_blank"
                       title="{% translate 'Print official document'%}">
                       <img src="{% static 'img/printer.svg' %}" alt="{% translate 'print' %}">
                    </a>
                    </div>
                </td>
            </tr>
        {% empty %}
            <td>{% translate 'No licenses yet.' %}</td>
        {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary" href="{%url 'licenses:create' %}">
    {% translate 'Create license' %}
</a>

{% endblock content %}
