{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<h1>
    {% blocktranslate %}
        Edit {{object}}:
    {% endblocktranslate %}
</h1>

{% if object.confirmed %}
<p>
    {% blocktranslate %}
        Your License is already confirmed and no longer editable.
    {% endblocktranslate %}
</p>
<a class="btn btn-primary" href="{% url 'licenses:licenses' %}"> {% translate 'Back to overview'%}</a>
{% else %}
    {% crispy form %}
{% endif %}

{% endblock content %}
