{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<h1>
    {% blocktranslate %}
        Edit {{object}}:
    {% endblocktranslate %}
</h1>

{% if object.confirmed %}
<p>
    {% blocktranslate %}
        Your License is already confirmed and no longer editable.
    {% endblocktranslate %}
</p>
<a class="btn btn-primary" href="{% url 'licenses:licenses' %}"> {% translate 'Back to overview'%}</a>
{% else %}
    {% crispy form %}
{% endif %}

<style>
    #div_id_youth_protection_category {
        display: none; /* Initially hide the row */
    }
</style>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const youthProtectionField = document.getElementById("id_youth_protection_necessary");
    const youthCategoryRow = document.getElementById("div_id_youth_protection_category");

    function toggleYouthCategoryRow() {
        if (youthProtectionField.value === "true") {
            youthCategoryRow.style.display = "block";
        } else {
            youthCategoryRow.style.display = "none";
        }
    }

    if (youthProtectionField) {
        youthProtectionField.addEventListener("change", toggleYouthCategoryRow);
        toggleYouthCategoryRow(); // Initialize visibility
    }
});

</script>

{% endblock content %}
