# venv
bin/
include/
lib/
share/
lib64
pyvenv.cfg
production.cfg
gunicorn.conf.py

__pycache__/
db.sqlite3*
*.egg-info
ok_tools-debug.log
static/
!ok_tools/static/
!licenses/static/
!registration/static/

# ides and editors
.idea/
.vscode/

# local scripts
manage
pip
makemessages
test

# binary from translation file (.po)
*.mo

# test coverage binary
.coverage

response.html

*.xlsx
!ok_tools/test_data/*.xlsx
notes
