[django]
secret_key = insecure_key
allowed_hosts = localhost
debug = True
language = en-us
timezone = Europe/Berlin

static = static/
media = media/
data = data/
use_secure_settings = True

mail_dev_settings = False
email_host = your.mail.host
email_port = 587
email_use_tls = True
email_host_user = some_username
email_host_password = password
default_from_email = your@email.de