{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home'%}">{{OK_NAME_SHORT}}</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated%}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">{%translate 'Logout'%}</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {%translate 'Profile'%}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'registration:print_registration' %}">{%translate 'Print Registration Form'%}</a>
          <a class="dropdown-item" href="{% url 'password_reset'%}">{%translate 'Change password'%}</a>
          <a class="dropdown-item" href="{% url 'registration:user_data' %}">{%translate 'Edit user data'%}</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {%translate 'Licenses'%}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'licenses:licenses' %}">{%translate 'Overview'%}</a>
          <a class="dropdown-item" href="{% url 'licenses:create'%}">{%translate 'Create license'%}</a>
        </div>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">{%translate 'Login'%}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'registration:register' %}"
          >{%translate 'Register'%}</a
        >
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
