[Unit]
Description=OK Tools Gunicorn Application Server
Documentation=https://github.com/Offener-Kanal-Merseburg-Querfurt/ok-tools
After=network.target postgresql.service
Wants=postgresql.service

[Service]
Type=notify
User=oktools
Group=oktools
RuntimeDirectory=ok-tools
WorkingDirectory=/opt/ok-tools/app
Environment=OKTOOLS_CONFIG_FILE=/opt/ok-tools/config/production.cfg
Environment=DJANGO_SETTINGS_MODULE=ok_tools.settings
ExecStart=/opt/ok-tools/venv/bin/gunicorn --config /opt/ok-tools/app/deployment/gunicorn/gunicorn.conf.py ok_tools.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=on-failure
RestartSec=3

# Security settings
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
ReadWritePaths=/opt/ok-tools/logs /opt/ok-tools/media /opt/ok-tools/static
CapabilityBoundingSet=
SystemCallArchitectures=native
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
LockPersonality=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
ProtectClock=yes
ProtectHostname=yes

[Install]
WantedBy=multi-user.target
