{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{%blocktranslate%}Enter new password{%endblocktranslate%}{% endblock %}

{% block content %}

{% if validlink %}

<h1>{%blocktranslate%}Set a new password!{%endblocktranslate%}</h1>
<form method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <input class="btn btn-primary" type="submit" value={% blocktranslate %}Change password{%endblocktranslate%}>
</form>

{% else %}

<p>{%blocktranslate%}The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.{%endblocktranslate%}</p>

{% endif %}
{% endblock %}
