{% load i18n %}{% autoescape off %}

{% blocktranslate %}
Hallo{{ first_name }},
{% endblocktranslate %}

{% blocktranslate %}
You're receiving this email because you requested a password change for your user account at {{ ok_name }}.
Please go to the following page and choose a new password:
{% endblocktranslate %}

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% blocktranslate %}
Your username, in case you’ve forgotten: {{ user.get_username }}
{% endblocktranslate %}

{% blocktranslate %}
Have a great day,

The {{ ok_name }} team
{% endblocktranslate %}

{% endautoescape %}
