{% extends "base.html" %}

{% load i18n %}

{% block title %}{%blocktranslate%}Email Sent{%endblocktranslate%}{% endblock %}

{% block content %}
  <h1>{%blocktranslate%}Check your inbox.{%endblocktranslate%}</h1>
  <p>{%blocktranslate%}If your given email is registered, we've emailed you instructions for setting your password. You should receive the email shortly!{%endblocktranslate%}</p>
  <p>
    <a class="btn btn-outline-primary" href={% url 'home' %}>{%blocktranslate%}Home{%endblocktranslate%}</a>
    <a class="btn btn-outline-primary" href={% url 'login' %}>{%blocktranslate%}Log In{%endblocktranslate%}</a>
  </p>
{% endblock %}
