{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content%}
<h1>{%translate 'User data for '%} {{ user.profile }}</h1>


<form method="post">
{% csrf_token %}
<table class="table">
    <tbody>
        {% for field in form %}
        <tr>
        <td>{{ field.label }}:</td>
        <td>{% if field.value %}
                {{ field.value }}
            {% else %}
                ----
            {% endif %}
        </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div>
<a class="btn btn-primary" href="{% url 'registration_filled_file' %}" target="_blank">
    {%translate 'Print registration form'%}
</a>
<a class="btn btn-primary" href="{% url 'user_data' %}">
    {%translate 'Edit user data'%}
</a>
<a class="btn btn-outline-secondary" href="{% url 'registration_plain_file' %}" target="_blank">
    {%translate 'Print template only'%}
</a>
<form>

{% endblock content%}
